snippet b "bold" w
**${1:${VISUAL}}**
endsnippet

snippet i "italics" w
*${1:${VISUAL}}*
endsnippet

snippet s "strikethrough" w
~~${1:${VISUAL}}~~
endsnippet

snippet a "link" w
[${1:${VISUAL}}](${2:`!v @+`})
endsnippet

snippet img "image link" w
![${1:${VISUAL}}](${2:`!v @+`})
endsnippet

snippet cl "checklist item" b
- [${1: }] $0
endsnippet

snippet code "code block" b
\`\`\`
${0:${VISUAL}}
\`\`\`
endsnippet
