snippet env "Environment comment" b
#!/usr/bin/env python3
endsnippet

snippet h "Comment header" b
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# ${1:${VISUAL}}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
endsnippet

snippet ifmain "If-main script base" b
def main():
    ${0:pass}


if __name__ == "__main__":
    try:
        main()
    except KeyboardInterrupt:
        print("\nUser interrupt", file=sys.stderr)
        sys.exit(1)
endsnippet
