# Snippets making snippets. How perverse!

snippet h "comment header" b
# -------------------------- #
# ${1:${VISUAL}}
# -------------------------- #
endsnippet

snippet global "global scope" b
`!v "global"` !p
$0
`!v "endglobal"`
endsnippet

snippet snip "snippet" b
`!v "snippet"` ${1:trigger} "${2:description}"`!p snip.rv = ' ' if t[3] != '' else ''`$3
$0
`!v "endsnippet"`
endsnippet
