snippet f "Comment with marker fold" b
" ${1:sneed} \{\{\{
${0:${VISUAL}}
" \}\}\}
endsnippet

snippet aug "Augroup" b
augroup ${1:sneed}
  autocmd!
  $0
augroup END
endsnippet

snippet augf "Augroup in a fold" b
augroup ${1:sneed} " {{{
  autocmd!
  ${0:${VISUAL}}
augroup END " }}}
endsnippet

snippet lua "Lua configuration block" b
lua << EOF
$0
EOF
endsnippet

snippet fun "Function" b
function! ${1:sneed}($2) abort
  $0
endfunction
endsnippet
